.adder {
	right: 30px;
	bottom: 30px;
}

.starter {
	left: 30px;
	bottom: 30px;
}

.ml-imp-1 {
	margin-left: 10px;
}

.uptiletext {
	font-size: 50px;
	text-decoration: bold;
}

.secondtiletext {
	font-size: 35px;
}

.texttiletext {
	font-size: 30px;
}
#exampleFormControlTextarea1{
	margin-bottom:10px;
}
#statusButton2{
	position:absolute;
	left:200px;
}

#bplus{
	display:flex;
	width:29px;
	height:29px;
	margin-top:19px;
	margin-left:8px;
	justify-content:center;
	font-size:30px;
}
#bpp{
	margin-top:-17px;
}
#bmp{
	font-size:40px;
	margin-top:-27px;
}
#bmns{
	display:flex;
	width:29px;
	height:29px;
	margin-top:10px;
	margin-left:8px;
	justify-content:center;
}
#imgb{
	margin-top:-2px;
	width:20px;
	height:20px;
}
#selctpose{
	height:100%;
	width:10%;
	position:absolute;
	right:0%;
	top:0%;	
}
#bpl{
	margin-right:0%;
	z-index: 100;
}
#blp2{
	position:absolute;
	margin-left:5px;
}
#changecolor{
	visibility:hidden;
}
#bpl1{
	margin-top:0px;
	position:absolute;
	right:40px;
	background-image: url('trash.PNG');
	background-size:14px 14px;
}
#hide{
	background-color:#gray;
	height:39px;
	width:100px;
	position:absolute;
	bottom: 30px;
	left: 320px;
	border-radius:5px;
	border:1px solid black;
}
#shodepe{
	height:39px;
	width:100px;
	position:absolute;
	bottom: 30px;
	left: 200px;
	border-radius:5px;
	border:1px solid black;
}
#changecolor{
	background-color:#f0f0f0;
	display:block;
	height:210px;
	width:200px;
	position:absolute;
	bottom: 80px;
	left: 340px;
	text-align:center;
	justify-content:center;
	border-radius:5px;
	border:1px solid black;
}
#exampleColorInput{
	margin-top:2px;
	height:39px;
	position:relative;
	left:0px;;
}
#form-police{
	margin-top:2px;
	position:relative;
	left:0px;
	width:90px;
}
#form-family{
	margin-top:2px;
	position:relative;
	left:0px;
	width:90px;
}
#gras{
	margin-top:2px;
	position:relative;
	left:0px;
}
#ital{
	margin-top:2px;
	position:relative;
	left:0px;
}
#sous{
	margin-top:2px;
	position:relative;
	left:0px;
}
#basic-addon3{
	width:120px;
	justify-content:center;
	height:39px;
	margin-top:2px;
	display:inline-block;	
}
#isExam{
	position:relative;
	display:inline-block;	
	margin-top:10px;
}
#basic-addon2{
	width:100px;
	justify-content:center;
	height:39px;
	margin-top:2px;
}
#block{
	display:flex;
}
#flexCheckDefault2{
	background-image: url('unlocked.PNG');
	background-size:20px 20px;
}
